@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --light-purple: #4D5B9E;
    --dark-purple: #374796;
    --selected-correct: #0E830E;
    --selected-incorrect: #E45F5F;
    --not-selected-correct: #41C741;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta Vaani', sans-serif;
}

.homepage {
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage, .questions-page {
    background-image: url(./intro-page.png);
    background-size: 100% 100%;
    min-height: 100vh;
}

.homepage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

select {
    width: 100%;
    margin-top: .25rem;
    margin-bottom: 1rem;
    border: 1px solid var(--light-purple);
    color: var(--dark-purple);
}

select:hover,
button:hover,
.answer:hover {
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-purple);
}

option, button {
    font-family: 'Mukta Vaani', sans-serif;
}

button {
    margin-top: 1rem;
    padding: .25rem 1rem;
    border: none;
    border-radius: .25rem;
    background-color: var(--light-purple);
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

.homepage-select {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Questions page */
.questions-page {
    padding: 2em 0;
}

.question {
    margin: 2em auto;
    width: 80%;
}

.question-text {
    font-weight: bold;
}

.all-answers {
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;
}

.answer {
    min-width: 30%;
    text-align: center;
    padding: .05rem .25rem;
    border-radius: .5rem;
    border: .5px solid gray;
    background-color: white;
    color: black;
    font-size: 14px;
}

.selected {
    background-color: var(--light-purple);
    color: white;
    font-weight: bold;
}

.link-back {
    display: block;
    margin-right: 2em;
    text-align: right;
}

.check-btn {
    display: block;
    margin: 0 auto;
}

#score {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

#not-visible {
    visibility: hidden;
}

.selected-and-correct {
    background-color: var(--selected-correct);
}

.selected-and-incorrect {
    background-color: var(--selected-incorrect);
}

.not-selected-but-correct {
    background-color: var(--not-selected-correct);
    color: white;
}

@media screen and (max-width: 300px) {
    #score {
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) {
    :root {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1000px) {
    .all-answers {
        width: 100%;
        display: flex;
    }

    .answer {
        min-width: 10%;
        padding: .25rem 2rem;
    }

    .question-text {
        font-size: 1.5rem;
    }

    #not-visible {
        text-align: center;
        margin-right: 0;
    }
}